/* 시계이미지 번호 부여 법칙
시계 이미지는 브랜드 기준 가나다순으로 '001'을 오름차순으로 부여한다.
성별 구별은 남자는 1, 여자는 2, 커플은3 으로 부여한다.
해당 브랜드 시계 상세 이미지 넘버는 '001' 부터 부여한다.
예로들어  구찌남자시계를 번호를 부여한다면, 
    001        1             001
(브랜드번호)  (성별 번호)    (상세 이미지 넘버)
로 정의 한다.


---------------브랜드 번호 정리표-------------
DKNY					샤넬
	ㄴ001					ㄴ016
TID2					스페라
	ㄴ002					ㄴ017
가이거					알레난터크리스티
	ㄴ003					ㄴ018
게스						오리스
	ㄴ004					ㄴ019
구찌						오메가
	ㄴ005					ㄴ020
다니엘웰린턴				오베론
	ㄴ006					ㄴ021
디젤						쥴리어스
	ㄴ007					ㄴ022
디즈니					카시오
	ㄴ008					ㄴ023
라코스테					캉골
	ㄴ009					ㄴ024
루미녹스					태그호이어
	ㄴ010					ㄴ025
몬데인					티쏘
	ㄴ011					ㄴ026
몰블랑					포체x토트넘
	ㄴ012					ㄴ027
발렌티노루디				포체 밀라노
	ㄴ013					ㄴ028
보우드					폴브리알
	ㄴ014					ㄴ029
보일런던					헤밀턴
	ㄴ015					ㄴ030
--------------------------------------------
*/



@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {margin:0; padding:0;}
/*main페이지 출현*/
#mainTop{width:100%;}
/*main페이지 출현*/
.mainForm{
	margin: auto;
	padding:0px;
}
#top{ background-color : #fff; 
	  width:100%; 
	  margin: auto;
	  height:177px;
	  border-bottom:1px solid gray; }	
.topContent {float:left; width:33%;}
#logoImg{
		text-align:center;
		margin-top:30px;
}
a {
	text-decoration:none;
}

#topMenu {list-style-type:none;margin:10px 0 0 20px;padding:0; font-size:14px;}

#topMenu li  {display:inline-block; margin-right:15px;}

#topMenu a {
	text-decoration:none; color:#333; }

.search input[type=text] {
  position:relative; top:60px; left:50px;
  padding: 10px;
  font-size: 17px;
  border: 1px solid #ddd;
  float: left;
  width: 180px;
  background: #f1f1f1;
}

.search button {
  position:relative; top:60px; left:50px;
  width: 20%;
  padding: 10px;
  background: black;
  color: white;
  font-size: 17px;
  border: 1px solid #000;
  border-left: none;
  cursor: pointer;
}

.search button:hover {
  background: #585b51;
}

.search::after {
  content: "";
  clear: both;
  display: table;
}

#subTop{ width:1300px; margin:0 auto; height:auto;}
.subTopMenu{ margin: 0 30px 0 0;}

.subTopMenu li {font-size:16px}

.title{
	color:#fff;background-color:#000000;
	padding: 7px;
}
/*회원가입*/
.member{
	padding: 0;
	margin:0;
	width:1300px; 
	margin:auto;
}
.memberForm{
	margin: auto;
	width: 60%;
	border: 2px solid #ccc;
	padding: 10px;
}
.memList{
	width: 100%;
	margin-top :20px;
	border: 1px solid #ccc;
	padding:8px 8px 8px 8px;
}
.singleText{
	height: 40px;
	padding:8px 8px 8px 8px;
	border:none;
	width:100%;
}
.memList .idText{
	height: 40px;
	padding:8px 8px 8px 8px;
	border:none;
	width:80%;
}
.memList  .postText{
	height: 40px;
	padding:8px 8px 8px 8px;
	border:none;
	border-bottom:1px solid #ccc;
	width:40%;
}
.inputText{
	height: 40px;
	padding:8px 8px 8px 8px;
	border:none;
	border-bottom:1px solid #ccc;
	width:100%;
}
.passInputText{
	height: 40px;
	padding:8px 8px 8px 8px;
	border-bottom:1px solid #ccc;
	border:none;
	width:100%;
	margin-bottom:8px 0px 8px 0px;
}
.checkBtn{
	background-color: black;
	border: none;
	color: white;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1vw;
	border-radius:8px;
	margin:0;
}
.checkText{
	font-size:12px;
	font-color:red;
}

.join{
	
	margin: auto;
	width: 100%;
	padding: 10px;
}
.join .btn {
  	background-color: black; 
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 1vw;
	border-radius:8px;
	width: 100%;
    margin-top:1%;
    margin-left: 4px;
    margin-right: 4px;
}
.addressForm{
	padding-top:8px;
}
/*아이디 중복 체크 팝업*/
.form{
	transform: translate(5%);
	width: 90%;
	margin-top :20px;
	border: 1px solid #ccc;
	padding:8px 8px 8px 8px;
}
.subForm{
	transform: translate(10%);
	width: 80%;
	margin-top :20px;
	border: 1px solid #ccc;
	padding:8px 8px 8px 8px;
}
.idInputText{
	height: 40px;
	padding:8px 8px 8px 8px;
	border:none;
	width:70%;
	font-size:15pt;
}
.idCheckBtn{
	background-color: black;
	border: none;
	color: white;
	padding: 8px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1vw;
	border-radius:8px;
	margin:0;
}
/*회원가입 완료*/
.joinForm{
	margin: auto;
	width: 60%;
	border: 2px solid #ccc;
	padding: 10px;
}
.joinForm .joinTextContain{
	text-align:center;
	margin-top:10%;
	margin-bottom:5%;
}
.joinTextContain .joinText{
	margin:auto;
	width:100%;
	font-size:2vw;
}
.joinTextContain .joinText2{
	margin:auto;
	width:100%;
	font-size:1vw;
}
.joinForm .joinBtnContain{
	transform: translate(10%);
	margin-bottom:5%;
}
.joinBtnContain .joinBtn{
	background-color: black; 
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 1vw;
	border-radius:8px;
	width: 80%;
    margin-top:1%;
    margin-left: 4px;
    margin-right: 4px;
}
/*아이디 찾기/패스워드 찾기*/
.findForm{
    margin: auto;
	width: 60%;
	border: 2px solid #ccc;
	padding: 10px;
}
.findForm .btnContain{
	transform: translate(20%);
}
.btnContain .btn{
	background-color: black; 
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 1vw;
	border-radius:8px;
	width: 30%;
    margin-left: 4px;
    margin-right: 4px;
}
.findForm .inputContain{
	transform: translate(20%);
}
.inputContain .findInputText{
	width:60%;
    height: 40px;
	padding:8px 8px 8px 8px;
	border:1px solid #ccc;
	font-size:15pt;
    margin-top:3%;
}
.findForm .finContain{
	transform: translate(20%);
    
}
.findContain .findBtn{
	background-color: black; 
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 1vw;
	border-radius:8px;
	width: 30%;
    margin-top:3%;
    margin-left: 4px;
    margin-right: 4px;
}
/*아이디 찾고 난 후*/
.resultForm{
    margin: auto;
	width: 60%;
	border: 2px solid #ccc;
	padding: 10px;
}
.resultForm .btnContain{
	transform: translate(20%);
}
.resultForm .resultContain{
	text-align: center;
	margin-top:12%;
	margin-bottom:10%;
}
.resultContain .resultText{
	width:100%;
	font-size:3vw;
	
}
.resultForm .resultBtn{
	transform: translate(20%);
	margin-bottom:2%;
    
}
.resultBtn .nextBtn{
	background-color: black; 
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 1vw;
	border-radius:8px;
	width: 60%;
    margin-top:1%;
    margin-left: 4px;
    margin-right: 4px;
}
/*패스워드 찾기 버튼 누른 후*/
.newPassForm{
    margin: auto;
	width: 60%;
	border: 2px solid #ccc;
	padding: 10px;
}
.newPassForm .btnContain{
	transform: translate(20%);
}
.newPassForm .inputContain{
	transform: translate(20%);
}
.inputContain .newPassInputText{
	width:60%;
    height: 40px;
	padding:8px 8px 8px 8px;
	border:1px solid #ccc;
	font-size:15pt;
    margin-top:5%;
}
.newPassForm .newPassContain{
	transform: translate(0%);
    
}
.newPassContain .newPassBtn{
	background-color: black; 
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 1vw;
	border-radius:8px;
	width: 61%;
    margin-top:5%;
    margin-left: 4px;
    margin-right: 4px;
}



/*                      마이페이지                                           */
.frame {
  width: 1300px;
  margin: auto;
  border: 1px solid #aaa;
}

.container {
  overflow: hidden;
  margin-top:5%;
}
.nav {
  float: left;
  width: 130px;
  background: #333;
  color: #fff;
  margin-right: 50px;
}
.nav-list {
  list-style: none;
  margin: 0;
  padding: 10px 0;
}
.nav-item {
  margin: 4px 0;
}
.nav-link {
  display: block;
  text-decoration: none;
  padding: 4px 10px;
  color: #fff;
}
.nav-link:hover {
  background: #5457de;
}
.nav, .content {
  display: table-cell;
}
.content {
  width: 1170px;
  margin-top:5%;
}
.content .memInfo{
	border: 1px solid #ccc;
	width:80%;
	
}
.memInfo th{
	border: 1px solid #ccc;
	width:20%;
	height:10%;
	padding: 4px;
}
.memInfo td{
	border: 1px solid #ccc;
	width:60%;
	height:10%;
	padding: 4px;
}
.memInfo .memInfoChange{
	float:right;
}
/*---------------- 메뉴    ---------------     */

/*  brand,man,woman,couple 을 감싸는 DIV */
#subTopBar{ 
	position:relaytive;
	margin:auto;
	width:1300px;
	height:50px;
	border-bottom:1px solid gray;
}

/* brand,man,woman,couple 속성*/
.dropBtn{
  font-family: 'Roboto', sans-serif;
  background-color:white;
  color: black;
  width:325px;
  height:50px;
  font-size: 24px;
  border: none;
  float:left;
  transition: background-color 0.5s, transform 5s;
}

/* 상위메뉴 float 끊는 속성 */
.dropBtn:after {content:""; display:block; clear:both;}


/* Brand 하위메뉴 속성 */
#brandMenu {
  display: none;
  position: absolute;
  top:228px;
  left:auto;
  background-color: gray;
  background-color: rgba( 255, 255, 255, 0.5 );
  min-width: 1300px;
  height:360px;
  z-index: 1;
  }
  /* Man 하위메뉴 속성 */
#manMenu {
  display: none;
  position: absolute;
	top:228px;
  left:auto;
  background-color: gray;
  background-color: rgba( 255, 255, 255, 0.5 );
  min-width: 1300px;
  height:180px;
  z-index: 1;
  }
  /* Woman 하위메뉴 속성 */
#womanMenu {
  display: none;
  position: absolute;
  top:228px;
  left:auto;
  background-color: gray;
  background-color: rgba( 255, 255, 255, 0.5 );
  min-width: 1300px;
  height:120px;
  z-index: 1;
  }
  /* Couple 하위메뉴 속성 */
#coupleMenu {
  display: none;
  position: absolute;
  top:228px;
  left:auto;
  background-color: gray;
  background-color: rgba( 255, 255, 255, 0.5 );
  min-width: 1300px;
  height:120px;
  z-index: 1;
}
/* brand 하위메뉴 컬럼들 속성 */
#brandMenu a {
  font-weight:bold ;
  text-align:center;
  line-height:60px;
  width:260px;
  height:60px;
  color: black;
  margin:0;
  padding:0;
  text-decoration: none;
  float:left;
  left:30%;
}
/* man 하위메뉴 컬럼들 속성 */
#manMenu a {
  font-weight:bold ;
  text-align:center;
  line-height:60px;
  width:260px;
  height:60px;
  color: black;
  margin:0;
  padding:0;
  text-decoration: none;
  float:left;
  left:30%;
}
/* woman 하위메뉴 컬럼들 속성 */
#womanMenu a {
  font-weight:bold ;
  text-align:center;
  line-height:60px;
  width:260px;
  height:60px;
  color: black;
  margin:0;
  padding:0;
  text-decoration: none;
  float:left;
  left:30%;
}
/* couple 하위메뉴 컬럼들 속성 */
#coupleMenu a {

  font-weight:bold ;
  text-align:center;
  line-height:60px;
  width:260px;
  height:60px;
  color: black;
  margin:0;
  padding:0;
  text-decoration: none;
  float:left;
  left:30%;
}

/* 하위메뉴 호버시 색변경 */
.dropdownContent a:hover {  background-color: black;
							
  background-color: rgba( 255, 255, 255, 0.8 );}

/* 각 메뉴 호버시 하위메뉴 출현 */
#brand:hover #brandMenu {display:block;}
#man:hover #manMenu {display:block;}
#woman:hover #womanMenu {display:block;}
#couple:hover #coupleMenu {display:block;}

/* 하위메뉴 호버시 해당 상위메뉴 색 변경  */
#brand:hover #brandDropBtn {background-color: black;
								color:white;}
#man:hover #manDropBtn {background-color: black;
								color:white;}
#woman:hover #womanDropBtn {background-color: black;
								color:white;}
#couple:hover #coupleDropBtn {background-color: black;
								color:white;}
/*                                                                메뉴                                                                     */
/* 로그인 부분 시작*/

#LoginContent{
	
	position: relative;
	width:1300px;
	height:600px;
	background:white;
	margin: 200px auto;
	
}

#login div { margin:auto;
			text-align:center;	}
         
#login{
	
	margin:auto;
	width:80%;
	height:500px;
	background:#FFFFFF;
	border: 1px #ccc solid;
}
.LoginId, .LoginPass {width: 550px;
height:50px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 30px;
  font-size:20px;
  resize: vertical;
  margin:auto;      
}
#signIn, #findInfo{  display: inline-block;
  text-decoration: none;
  padding: 4px 10px;
  color: #000;}



#memLogin{
  background:#000000;
  color:#ffffff;
  border:none;
  height:60px;
  font-size:1.6em;
  padding:0 2em;   
  transition:800ms ease all;
  border-radius:8px;
}
#memLogin:hover{
  background:#eee;
  color:#000000;
}



#login div{
   font-size:16px;
   posotion:relative;
   margin-top: 30px;
}
/* 로그인 부분 종료*/

/*우편번호 찾기*/
.row{
	margin:auto;
}
.row .postTable{
	margin:auto;
	text-align:center;
}
.postTd{
	padding-top:4px;
	padding-bottom:4px;
}
/**/

/* main content 시작 */

#mainContent{
   position:relative;
   top:0;
   left:0;
}
/* banner  */
#bannerContent{}

#mainSlide{
   margin:0;
     padding:0;
      width: 100%;
    }
            
#img1{ width: 100%;
      list-style:none;
      }
      
#img2,#img3,#img4,#img5{
      width: 100%;
      display:none;
      list-style:none;
    }

.banner img{
      width:100%;
      height: 500px;
    } 
    
    
#wattimeContent {
	margin:0px;
	width:1300px;
	height:280px;
	background-color:yellow;
	display:inline-block;
}  

.wattimeSale{
	width:650px;
	height:280px;
	float:left;
}

.wattimeSubSale div {
	width:260px; float:left;
	border: 1px solid #ddd;
	box-sizing:border-box;
	  
}
.wattimeSubSale div p{
	padding:10px;
}

.wattimeSubSale::after {
  content: "";
  clear: both;
  display: table;
}
.wattimeSubSale{
    width: 1300px;
}
.slideWatch{
	width:500px;height:600px;
}
#mainSlideMan{
	width:500px;
	height:600px;
	margin:0;
	background-color:black;
	border: 1px solid #ccc;
	box-sizing:border-box;
	float:left;
}

#wattimeContentMan{
	margin:0;
	padding:0;
	
}
#wattimeContentM1{ 
	padding:0;
	margin:0;
	width: 100%;
    list-style:none;
      }
      
 #wattimeContentM2, #wattimeContentM3, #wattimeContentM4, #wattimeContentM5 {
	padding:0;
	margin:0;
	display:none;
	list-style:none;}
/* banner  */

/* midelBanner*/
#midelContent{
   margin:-60px auto;
   width:1300px;
   height:2400px;             /*홈페이지 길이 ~!!*/

}
#brandDiv{	
			width: 100%;
		    height: 50px;
		    background: url(img/line-bg.gif) repeat-x;
		    margin-bottom: 100px;
		    margin-top: -20px;
		 }
#brandP{width:300px;
		height:50px;
		line-height:80px;
		text-align:center;
		background:#fff;
		font:40px 'Roboto', sans-serif;
		margin:100px auto;
		}

.mainSpan{
	display: block; 
	line-height: 25px; 
	font-size: 13px; 
	text-align: left; 
	text-overflow: ellipsis; 
	overflow: hidden; 
	white-space: nowrap;
}

.subSpan{
	text-overflow: ellipsis; 
	overflow: hidden; 
	white-space: nowrap; 
	display: block; 
	clear: both; 
	line-height: 25px; 
	font-size: 13px; 
	text-align: left;
	
}

#slideMan{
	position: relative;
    float: left;
    width: 800px;
    height: 600px;
    margin: 0px;
}
.slideManForm::after{
	 content:" ";
  clear: both;
  
	
}



.slideManUl{
	display: block;
	position: relative;
}
.slideManUl li{
	border: 1px solid #ddd;
	display: inline-block;
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}



.slideManClass  img{
	
	width: 200px;
	margin-bottom:5px;
}

.slideManClass{
	text-align:center;
    float: left;
    width: 200px;
    height: 300px;
    padding: 0;
    background: #fff;
    box-sizing: border-box;
}


.slideManClass img {width:200px;height:200px;}

/* midelBanner  */

/* main content 종료 */

/* -----------------약관 동의 -----------------*/
#agreeMain{
	margin-top:60px;
	display:block;
	text-align:center;
		}

#agreeMain div {
	margin-top:30px;
}
.sv_button{
	    background: #000000;
    color: #ffffff;
    border: none;
    height: 60px;
    font-size: 1.6em;
    padding: 0 2em;
    transition: 800ms ease all;
    border-radius: 8px;
}

.sv_button:hover{
  background:#eee;
  color:#000000;
}
/* -----------------약관 동의 -----------------*/



/*상품 불러오기 테스트*/

.productLi{
	border: 1px solid #ccc;
}