/* 시계이미지 번호 부여 법칙
시계 이미지는 브랜드 기준 가나다순으로 '001'을 오름차순으로 부여한다.
성별 구별은 남자는 1, 여자는 2, 커플은3 으로 부여한다.
해당 브랜드 시계 상세 이미지 넘버는 '001' 부터 부여한다.
예로들어  구찌남자시계를 번호를 부여한다면, 
    001        1             001
(브랜드번호)  (성별 번호)    (상세 이미지 넘버)
로 정의 한다.
알겠지??

---------------브랜드 번호 정리표-------------
DKNY               샤넬
   ㄴ001               ㄴ016
TID2               스페라
   ㄴ002               ㄴ017
가이거               알레난터크리스티
   ㄴ003               ㄴ018
게스                  오리스
   ㄴ004               ㄴ019
구찌                  오메가
   ㄴ005               ㄴ020
다니엘웰린턴            오베론
   ㄴ006               ㄴ021
디젤                  쥴리어스
   ㄴ007               ㄴ022
디즈니               카시오
   ㄴ008               ㄴ023
라코스테               캉골
   ㄴ009               ㄴ024
루미녹스               태그호이어
   ㄴ010               ㄴ025
몬데인               티쏘
   ㄴ011               ㄴ026
몰블랑               포체x토트넘
   ㄴ012               ㄴ027
발렌티노루디            포체 밀라노
   ㄴ013               ㄴ028
보우드               폴브리알
   ㄴ014               ㄴ029
보일런던               헤밀턴
   ㄴ015               ㄴ030
--------------------------------------------
*/



@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {margin:0; padding:0;}
/*main페이지 출현*/
#mainTop{width:100%;}

pre{
	line-height: 1.7em;
    letter-spacing: 0.15em;
    font-size: 20px;
    font-family: sans-serif;
	word-wrap: break-word;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-break:break-all;
}
.autoPageMove{
	position: fixed;
    bottom: 22px;
    right: 83px;
    width: 210px;
    height: 65px;
	
}
.pageTopBtn{
	float: left;
}
.pageBottomBtn{
	float: left;
    margin: 0 10px 0 10px;
}
.pageHomemBtn::after{
	content: "";
  clear: both;
  display: table;
}
/*main페이지 출현*/
html{
	scroll-behavior: smooth;
}

.mainForm{
   margin: auto;
   padding:0px;
}
#top{ background-color : #fff; 
     width:100%; 
     margin: auto;
     height:177px;
     border-bottom:1px solid gray; }   
.topContent {float:left; width:33%;}
#logoImg{
      text-align:center;
      margin-top:30px;
}
a {
   text-decoration:none;
}
textarea{
	resize: none;
}

#topMenu {list-style-type:none;
			margin:10px 0 0 20px;
			padding:0; 
			font-size:14px;
}

#topMenu li  {display:inline-block; margin-right:15px;}

#topMenu a {
   text-decoration:none; color:#333; }
   
.search {position:relative; right:10px;}

.search input[type=text] {
  position:absolute; top:60px; right:50px;
  padding: 10px;
  font-size: 17px;
  border: 1px solid #ddd;
  float: left;
  width: 250px;
  background: #f1f1f1;
}

.search button {
  position:absolute; top:60px; right:0px;
  width: 50px;
  padding: 10px;
  background: black;
  color: white;
  font-size: 17px;
  border: 1px solid #000;
  border-left: none;
  cursor: pointer;
}

.search button:hover {
  background: #585b51;
}

.search::after {
  content: "";
  clear: both;
  display: table;
}

#subTop{ width:1300px; margin:0 auto; height:auto;}
.subTopMenu{ margin: 0 30px 0 0;}

.subTopMenu li {font-size:16px}

.title{
   color:#fff;background-color:#000000;
   padding: 7px;
}
/*회원가입*/
.member{
   padding: 0;
   margin:0;
   width:1300px; 
   margin:auto;
}
.memberForm{
   margin: auto;
   width: 60%;
   border: 2px solid #ccc;
   padding: 10px;
}
.memList{
   width: 100%;
   margin-top :20px;
   border: 1px solid #ccc;
   padding:8px 8px 8px 8px;
}
.singleText{
   height: 40px;
   padding:8px 8px 8px 8px;
   border:none;
   width:100%;
}
.memList .idText{
   height: 40px;
   padding:8px 8px 8px 8px;
   border:none;
   width:80%;
}
.memList  .postText{
   height: 40px;
   padding:8px 8px 8px 8px;
   border:none;
   border-bottom:1px solid #ccc;
   width:40%;
}
.inputText{
   height: 40px;
   padding:8px 8px 8px 8px;
   border:none;
   border-bottom:1px solid #ccc;
   width:100%;
}
.passInputText{
   height: 40px;
   padding:8px 8px 8px 8px;
   border-bottom:1px solid #ccc;
   border:none;
   width:100%;
   margin-bottom:8px 0px 8px 0px;
}
.checkBtn{
   background-color: black;
   border: none;
   color: white;
   padding: 8px 16px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 1vw;
   border-radius:8px;
   margin:0;
}
.checkText{
   font-size:12px;
   font-color:red;
}

.join{
   
   margin: auto;
   width: 100%;
   padding: 10px;
}
.join .btn {
     background-color: black; 
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   font-size: 1vw;
   border-radius:8px;
   width: 100%;
    margin-top:1%;
    margin-left: 4px;
    margin-right: 4px;
}
.addressForm{
   padding-top:8px;
}
/*아이디 중복 체크 팝업*/
.form{
   transform: translate(5%);
   width: 90%;
   margin-top :20px;
   border: 1px solid #ccc;
   padding:8px 8px 8px 8px;
}
.subForm{
   transform: translate(10%);
   width: 80%;
   margin-top :20px;
   border: 1px solid #ccc;
   padding:8px 8px 8px 8px;
}
.idInputText{
   height: 40px;
   padding:8px 8px 8px 8px;
   border:none;
   width:70%;
   font-size:15pt;
}
.idCheckBtn{
   background-color: black;
   border: none;
   color: white;
   padding: 8px 8px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 1vw;
   border-radius:8px;
   margin:0;
}
/*회원가입 완료*/
.joinForm{
   margin: auto;
   width: 60%;
   border: 2px solid #ccc;
   padding: 10px;
}
.joinForm .joinTextContain{
   text-align:center;
   margin-top:10%;
   margin-bottom:5%;
}
.joinTextContain .joinText{
   margin:auto;
   width:100%;
   font-size:2vw;
}
.joinTextContain .joinText2{
   margin:auto;
   width:100%;
   font-size:1vw;
}
.joinForm .joinBtnContain{
   transform: translate(10%);
   margin-bottom:5%;
}
.joinBtnContain .joinBtn{
   background-color: black; 
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   font-size: 1vw;
   border-radius:8px;
   width: 80%;
    margin-top:1%;
    margin-left: 4px;
    margin-right: 4px;
}
/*아이디 찾기/패스워드 찾기*/
.findForm{
    margin: auto;
   width: 60%;
   border: 2px solid #ccc;
   padding: 10px;
}
.findForm .btnContain{
   transform: translate(20%);
}
.btnContain .btn{
   background-color: black; 
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   font-size: 1vw;
   border-radius:8px;
   width: 30%;
    margin-left: 4px;
    margin-right: 4px;
}
.findForm .inputContain{
   transform: translate(20%);
}
.inputContain .findInputText{
   width:60%;
    height: 40px;
   padding:8px 8px 8px 8px;
   border:1px solid #ccc;
   font-size:15pt;
    margin-top:3%;
}
.findForm .finContain{
   transform: translate(20%);
    
}
.findContain .findBtn{
   background-color: black; 
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   font-size: 1vw;
   border-radius:8px;
   width: 30%;
    margin-top:3%;
    margin-left: 4px;
    margin-right: 4px;
}
/*아이디 찾고 난 후*/
.resultForm{
    margin: auto;
   width: 60%;
   border: 2px solid #ccc;
   padding: 10px;
}
.resultForm .btnContain{
   transform: translate(20%);
}
.resultForm .resultContain{
   text-align: center;
   margin-top:12%;
   margin-bottom:10%;
}
.resultContain .resultText{
   width:100%;
   font-size:3vw;
   
}
.resultForm .resultBtn{
   transform: translate(20%);
   margin-bottom:2%;
    
}
.resultBtn .nextBtn{
   background-color: black; 
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   font-size: 1vw;
   border-radius:8px;
   width: 60%;
    margin-top:1%;
    margin-left: 4px;
    margin-right: 4px;
}
/*패스워드 찾기 버튼 누른 후*/
.newPassForm{
    margin: auto;
   width: 60%;
   border: 2px solid #ccc;
   padding: 10px;
}
.newPassForm .btnContain{
   transform: translate(20%);
}
.newPassForm .inputContain{
   transform: translate(20%);
}
.inputContain .newPassInputText{
   width:60%;
    height: 40px;
   padding:8px 8px 8px 8px;
   border:1px solid #ccc;
   font-size:15pt;
    margin-top:5%;
}
.newPassForm .newPassContain{
   transform: translate(0%);
    
}
.newPassContain .newPassBtn{
   background-color: black; 
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   font-size: 1vw;
   border-radius:8px;
   width: 61%;
    margin-top:5%;
    margin-left: 4px;
    margin-right: 4px;
}



/*                      마이페이지                                           */
.frame {
  width: 1300px;
  margin: auto;
  border: 1px solid #aaa;
}

.container {
  overflow: hidden;
  margin-top:5%;
}
.nav {
  float: left;
  width: 130px;
  background: #333;
  color: #fff;
  margin-right: 50px;
}
.nav-list {
  list-style: none;
  margin: 0;
  padding: 10px 0;
}
.nav-item {
  margin: 4px 0;
}
.nav-link {
  display: block;
  text-decoration: none;
  padding: 4px 10px;
  color: #fff;
}
.nav-link:hover {
  background: #5457de;
}
.nav, .content {
  display: table-cell;
}
.content {
  width: 1170px;
  margin-top:5%;
}
.content .memInfo{
   border: 1px solid #ccc;
   width:80%;
   
}
.memInfo th{
   border: 1px solid #ccc;
   width:20%;
   height:10%;
   padding: 4px;
}
.memInfo td{
   border: 1px solid #ccc;
   width:60%;
   height:10%;
   padding: 4px;
}
.memInfo .memInfoChange{
   float:right;
}
/*---------------- 메뉴    ---------------     */

/*  brand,man,woman,couple 을 감싸는 DIV */
.subTopBarBody{
	width:100%;
	 border-bottom:1px solid gray;
	 background-color:#fff;
}
#subTopBar{ 
 
   margin:auto;
   width:1300px;
   height:50px;
   z-index:3;
}

.jbFixed {
		position: fixed;
        top: 0px;
        width:100%;
        z-index:4;
      }

.jbFixed #brandMenu {
	display: none;
    position: absolute;
  	top:50px;
    left: auto;
    background-color: black;
    background-color: rgba( 255, 255, 255, 0.9 );
    min-width: 1300px;
    height: auto;
    z-index: 1;
}
.jbFixed #coupleMenu {
	display: none;
    position: absolute;
  	top:50px;
    left: auto;
    background-color: black;
    background-color: rgba( 255, 255, 255, 0.9 );
    min-width: 1300px;
    height: auto;
    z-index: 1;
}
.jbFixed #manMenu {
	display: none;
    position: absolute;
  	top:50px;
    left: auto;
    background-color: black;
    background-color: rgba( 255, 255, 255, 0.9 );
    min-width: 1300px;
    height: auto;
    z-index: 1;
}
.jbFixed #womanMenu {
	display: none;
    position: absolute;
  	top:50px;
    left: auto;
    background-color: black;
    background-color: rgba( 255, 255, 255, 0.9 );
    min-width: 1300px;
    height: auto;
    z-index: 1;
}

.dropBtn{
  font-family: 'Roboto', sans-serif;
  background-color:white;
  color: black;
  width:325px;
  height:50px;
  font-size: 24px;
  border: none;
  float:left;
  transition: background-color 0.5s, transform 5s;
}
/* hover 하위메뉴 속성 */
.dropdownContent {
  display: none;
  position: absolute;
  top:228px;
  left:auto;
  background-color: black;
  background-color: rgba( 255, 255, 255, 0.9 );
  min-width: 1300px;
  height: auto;
  z-index: 1;
  }
 
.dropdownContent a {
  font-weight:bold ;
  text-align:center;
  line-height:60px;
  width:260px;
  height:60px;
  color: black;
  margin:0;
  padding:0;
  text-decoration: none;
  float:left;
  left:30%;
}

/* 하위메뉴 호버시 색변경 */
.dropdownContent a:hover {  background-color: black;
                     
  background-color: rgba( 255, 255, 255, 0.8 );}

/* 각 메뉴 호버시 하위메뉴 출현 */
#brand:hover #brandMenu {display:block;}
#man:hover #manMenu {display:block;}
#woman:hover #womanMenu {display:block;}
#couple:hover #coupleMenu {display:block;}

/* 하위메뉴 호버시 해당 상위메뉴 색 변경  */
#brand:hover #brandDropBtn {background-color: black;
                        color:white;}
#man:hover #manDropBtn {background-color: black;
                        color:white;}
#woman:hover #womanDropBtn {background-color: black;
                        color:white;}
#couple:hover #coupleDropBtn {background-color: black;
                        color:white;}
/* 메뉴  */

/* 로그인 부분 시작*/

#LoginContent{
   
   position: relative;
   width:1300px;
   height:600px;
   background:white;
   margin: 200px auto;
   
}

#login div { margin:auto;
         text-align:center;   }
         
#login{
   
   margin:auto;
   width:80%;
   height:500px;
   background:#FFFFFF;
   border: 1px #ccc solid;
}
.LoginId, .LoginPass {width: 550px;
height:50px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 30px;
  font-size:20px;
  resize: vertical;
  margin:auto;      
}
#signIn, #findInfo{  display: inline-block;
  text-decoration: none;
  padding: 4px 10px;
  color: #000;}



#memLogin{
  background:#000000;
  color:#ffffff;
  border:none;
  height:60px;
  font-size:1.6em;
  padding:0 2em;   
  transition:800ms ease all;
  border-radius:8px;
}
#memLogin:hover{
  background:#eee;
  color:#000000;
}



#login div{
   font-size:16px;
   posotion:relative;
   margin-top: 30px;
}
/* 로그인 부분 종료*/

/*우편번호 찾기*/
.row{
   margin:auto;
}
.row .postTable{
   margin:auto;
   text-align:center;
}
.postTd{
   padding-top:4px;
   padding-bottom:4px;
}
/**/

/* main content 시작 */

#mainContent{
   position:relative;
   top:0;
   left:0;
}
/* banner  */
#bannerContent{}

#mainSlide{
   margin:0;
     padding:0;
      width: 100%;
    }
            
#img1{ width: 100%;
      list-style:none;
      }
      
#img2,#img3,#img4,#img5{
      width: 100%;
      display:none;
      list-style:none;
    }

.banner img{
      width:100%;
      height: 500px;
    } 
    
    
#wattimeContent {
   margin:0px;
   width:1300px;
   height:280px;
   background-color:yellow;
   display:inline-block;
}  

.wattimeSale{
   width:650px;
   height:280px;
   float:left;
}

.wattimeSubSale div {
   width:260px; float:left;
   border: 1px solid #ddd;
   box-sizing:border-box;
     
}
.wattimeSubSale div p{
   padding:10px;
}

.wattimeSubSale::after {
  content: "";
  clear: both;
  display: table;
}
.wattimeSubSale{
    width: 1300px;
}
.slideWatch{
   width:500px;height:600px;
}
#mainSlideMan{
	width:500px;
	height:600px;
	margin:0;
	
	border: 1px solid #ccc;
	box-sizing:border-box;
	float:left;
}
#mainSlideWoman{
	width:500px;
	height:600px;
	margin:0;
	
	border: 1px solid #ccc;
	box-sizing:border-box;
	float:left;
}

#wattimeContentMan{
   margin:0;
   padding:0;
   
}
#wattimecontentWoman{
   margin:0;
   padding:0;
   
}
#wattimeContentM1{ 
   padding:0;
   margin:0;
   width: 100%;
    list-style:none;
      }
 #wattimeContentW1{ 
   padding:0;
   margin:0;
   width: 100%;
    list-style:none;
      }     
      
 #wattimeContentM2, #wattimeContentM3, #wattimeContentM4, #wattimeContentM5 {
   padding:0;
   margin:0;
   display:none;
   list-style:none;}

#wattimeContentW2, #wattimeContentW3, #wattimeContentW4 {
   padding:0;
   margin:0;
   display:none;
   list-style:none;}
/* banner  */

/* midelBanner*/
#midelContent{
   margin:-60px auto;
   width:1300px;
   height:auto;             /*홈페이지 길이 ~!!*/

}
#brandDiv{   
         width: 100%;
          height: 50px;
          background: url(img/line-bg.gif) repeat-x;
          margin-bottom: 100px;
          margin-top: -20px;
       }
#brandP{width:300px;
      height:50px;
      line-height:80px;
      text-align:center;
      background:#fff;
      font:40px 'Roboto', sans-serif;
      margin:100px auto;
      }

.mainSpan{
   display: block; 
   line-height: 25px; 
   font-size: 13px; 
   text-align: left; 
   text-overflow: ellipsis; 
   overflow: hidden; 
   white-space: nowrap;
}

.subSpan{
   text-overflow: ellipsis; 
   overflow: hidden; 
   white-space: nowrap; 
   display: block; 
   clear: both; 
   line-height: 25px; 
   font-size: 13px; 
   text-align: center;
   
}

#slideMan{
    width: 800px;
    height: 600px;
    margin: 0px;
    display:inline-block;
}
.slideManForm::after{
    content:" ";
  clear: both;
  
   
}



.slideManUl{
   display: block;
   
}
.slideManUl li{
   border: 1px solid #ddd;
   display: inline-block;

    width: 100%;
}


.slideManClass p{
	padding:10px 0 5px 10px;	
}
.slideManClass img{
   
   width: 190px;
    height: 200px;
   margin-bottom:5px;
}

.slideManClass{
   text-align:center;
    float: left;
    width: 200px;
    height: 300px;
    padding: 0;
    background: #fff;
    box-sizing: border-box;
}




/* midelBanner  */

/* main content 종료 */

/* -----------------약관 동의 -----------------*/
#agreeMain{
   margin-top:60px;
   display:block;
   text-align:center;
      }

#agreeMain div {
   margin-top:30px;
}
.sv_button{
       background: #000000;
    color: #ffffff;
    border: none;
    height: 60px;
    font-size: 1.6em;
    padding: 0 2em;
    transition: 800ms ease all;
    border-radius: 8px;
}

.sv_button:hover{
  background:#eee;
  color:#000000;
}
/* -----------------약관 동의 -----------------*/


/* -----------------bottom -----------------*/
#infoHelp{
   width:1300px;
   margin:100px auto;
      
      }
      
.infoClass{
    float: left;
    padding: 20px 20px;
    border: 1px solid #cbd4d9;
    width: 325px;
    min-height: 242px;
    border-left: 0px;
    box-sizing: border-box;
    
      }
#infoHelp div:nth-child(1) {border-left:1px solid #cbd4d9;}

#customerCenter ul li{
   list-style: none;
               }
               
#customerCenter button{
		border:1px solid;
	    display: inline-block;
	    padding:10px;
	    background-color:#fff;
	    color: #000;
	    transition: background-color 0.5s, transform 5s;
}	

#customerCenter button:hover{
            background-color:#000;
             color: #fff;    
                     }
#textSpan{
   color:red;
   }
#customerText{
           display: block;
           margin-top: 15px;
           font-size: 13px;
           line-height: 200%;
           letter-spacing: -0.05em;
         }
 #customerButton{   margin: 30px auto;
 					text-align:center;
 					}

 #note ul li{
       width:100%;
       display:inline-block;
      font-size: 13px;
      overflow:hidden;
      letter-spacing: -0.05em;
      text-overflow: ellipsis;
       white-space: nowrap;
       margin:10px;
 }
#bank ul li{
       width:100%;
       display:inline-block;
      font-size: 18px;
      letter-spacing: -0.05em;
       white-space: nowrap;
       margin:10px;
}
.snsIcon{
	margin-top: 13px;
    padding: 3px;
    width: 64px;
    float: left;
    box-sizing: border-box;
    
    }
.snsInfo{
	height: 100px;
    width: 140px;
    float: left;
    }
 #qrcord{
    margin-top: 14px;
    width: 144px;
 }
 
#mainBottom{
   
   margin-top:100px;
   display:block;
   
   }
#utilMenu{
   width: 100%;
    margin: 0 auto;
    height: 60px;
    border-top: 1px solid #cbd4d9;
    border-bottom: 1px solid #cbd4d9;
}
#utilMenu ul {
    width: 1300px;
    margin: 0 auto;
    height: 60px;
}

#utilMenu ul li {
    float: left;
    margin: 0 10px;
    height: 60px;
    line-height: 60px;
    list-style: none;
}
#bank li{
    list-style: none;
   
}
#companyInfo {
    width: 1300px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    padding: 15px 0 0;
}
#footerLogo {
    position: absolute;
    left: 70px;
    top: 40px;
}
#address {
    text-align: left;
    width: 730px;
    margin: 0 auto;
}
#address span {
    font-size: 12px;
    color: #6e6d6d;
    display: inline-block;
    margin-bottom: 5px;
}
.address span .f-line {
    display: inline-block;
    margin: 0 8px;
    color: #ccc;
}
.copyright {
    font-size: 12px;
    color: #6e6d6d;
}
.escro {
    position: absolute;
    top: 30px;
    right: 45px;
    }
#footer_banner {
    width: 100%;
    margin: 30px auto 0;
    height: 60px;
    border-top: 1px solid #cbd4d9;
    border-bottom: 1px solid #cbd4d9;
}

#footer_banner ul {
    width: 700px;
    margin: 0 auto;
    height: 60px;
    text-align: center;
}
#footer_banner ul li {
    float: left;
    line-height: 85px;
    list-style: none;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
/* -----------------bottom -----------------*/



/* -----------------product -----------------*/
.autoMove{
	width:300px;
	display:inline;
	
}

.productUl{
	margin: 0 auto;
	width:1200px;
}

.productLi{
	text-align:center;
	margin: 10px 0 0 10px;
    border: 1px solid #ccc;
    width: 380px;
    list-style: none;
    float:left;
    box-sizing: border-box;
}

.productUl::after {
  content: "";
  clear: both;
  display: table;
}
.move{   
    margin: 20px auto;
    text-align: center;
}
#PageNum{
	
	background-color: #fff;
    background-image: none !important;
    border-color: transparent;
    border: none;
    margin: 5px;
    width: 35px;
    height: 27px;
    font-size: 15px;
    transition: background-color 0.5s, transform 5s;
    color: #000;
		}
#nowPageNum{
	background-color: black; 
	border: none;
	color: white;
    margin:5px;
    width: 35px;
    height: 27px;
    font-size: 15px;
			}

#PageNum:hover{
				background-color:#000;
			    color: #fff; 
				}
.inputBtn{
   margin: 20px auto;
    position: relative;
    left: 1220px;
}

.inputBtn input[type=button]{
   
   background-color: transparent !important;
    background-image: none !important;
    border-color: transparent;
    border: none;
    margin:5px;
}
#productCount{
	width:60px;
}

.productInsert{
	margin:30px auto;
	width: auto;
    height: auto;
}
.productInsert td{
	margin: 40px 30px 20px 40px;
    display: block;
    font-size: 20px;

}
.productInsert td p{
	margin:30px;
}
.productInsert td input[type=text], select, input[type=number]{
font-size: 20px;
}
    width: 60px;
.picture{
	text-align:center;
}
.picture input[type=submit] {
	padding:0;
	background-color:#000; 
    border: none;
    color:#fff;
    margin:10px;
    width: 150px;
    height: 75px;
    font-size: 17px;
    transition: background-color 0.5s, font-size 0.7s, transform 5s;
}
.picture input[type=submit]:hover{
	background-color:#D8D8D8;
    color:#000; 

	}

					
.spec{
	margin:30px auto;
	width:1300px;
	text-align:center;
	border-collapse: collapse;
	font-family: 'Roboto', sans-serif;
}
.productInfo{
	padding-left: 30px;
	background-color:#FAFAFA;
	border-left:1px solid #F2F2F2;
	border-right:1px solid #F2F2F2;
}
	
.productInfo p{
	margin-top :20px;
	text-align:left;
}
#gotcha{
	padding:0;
	background-color:#000; 
    border: none;
    color:#fff;
    margin:10px;
    width: 150px;
    height: 65px;
    font-size: 17px;
    transition: background-color 0.5s, font-size 0.7s, transform 5s;
	border-radius: 8px;
}
.specBtn{
	padding: 0;
    background-color: #000;
    border: none;
    color: #fff;
    margin: 50px 10px 10px 10px;
    width: 150px;
    height: 65px;
    font-size: 17px;
    transition: background-color 0.5s, font-size 0.7s, transform 5s;
    border-radius: 8px;
}
#gotcha:hover{
				background-color:#FE2E2E;
			    color:#fff; 
			    font-size:20px;
				}

.specBtn:hover{
				background-color:#D8D8D8;
			    color:#000; 
				}
				
.productCountBtn{
	position: relative;
    display: inline-block;
    background-color: #000;
    border: none;
    color: #fff;
    margin: 5px;
    width: 30px;
    height: 30px;
    line-height: 0;
    top: -33px;
    left: -120px;
    font-size: 33px;
    transition: background-color 0.5s, font-size 0.7s, transform 5s;
}

.productCountBtn:hover{
				background-color:#D8D8D8;
			    color:#000; 
				}
					

.delivery_txt ul li{
	list-style-type:none;
			font-size:14px;
}
.delivery_txt ul{
	margin-bottom:10px;
}

#howService{
	margin:auto;
	background-color:#F2F2F2;
	 border-collapse: collapse;
}
#howService th, #howService td{
	margin: 10px;
	 border-bottom:1px solid gray;
}
#productReview{
	display: inline-block;
    padding: 10px;
    border-collapse: collapse;
    text-align: left;
    margin-bottom: 30px;
    white-space: pre-line;
	font-family: initial;
    font-size: 18px;
	width: 731px;
    height: auto;

}
.reviewComent{
	width:650px;
	border:1px solid gray;
}
.spec pre p{
	    font-size: 23px;
    text-align: center;
}
#modify,#delete {
	display: inline-block;
    background-color: #000;
    border: none;
    color: #fff;
    margin: 5px;
    width: 110px;
    height: 40px;
    font-size: 15px;
    line-height: 0;
    transition: background-color 0.5s, font-size 0.7s, transform 5s;
}
#modify:hover{
				background-color:#D8D8D8;
			    color:#000; 
				}
#delete:hover{
				background-color:#D8D8D8;
			    color:#000; 
				}
.reviewScore{
	width:500px;
}

#reviewRegistration{
	display: inline-block;
    background-color: #000;
    border: none;
    color: #fff;
    margin: 5px;
    width: 110px;
    height: 40px;
    font-size: 15px;
    line-height: 0;
    transition: background-color 0.5s, font-size 0.7s, transform 5s;
}
#reviewRegistration:hover{
				background-color:#D8D8D8;
			    color:#000; 
				}

/* -----------------product -----------------*/

/* -----------------FAQ -----------------*/

.faqBar{
	margin: 30px auto;
    text-align: right;
    width: 1300px;
}
.faqBar  input[type=button]{
	background-color: #000;
    border: none;
    color: #fff;
    width: 190px;
    height: 27px;
    font-size: 20px;
    transition: background-color 0.5s, font-size 0.7s, transform 5s;
}

.faqBar  input[type=button]:hover{
				background-color:#D8D8D8;
			    color:#000; 
				}

.tab_area{
	
	width: 1300px;
	margin: 0 auto;
}
.tab li{
    text-align: center;
    height: 40px;
    width: 157px;
    font-size: 20px;
    display: inline-block;
    margin: 10px auto;
   transition: background-color 0.5s, font-size 0.7s, transform 5s;
    padding: 0;
    line-height: 37px;
}
.tab li a{
text-decoration:none ; color:#000000
}
.tab li:hover{
	background-color:#D8D8D8;
			    color:#000; 
}
#faqMainBar{
	    display: table-cell;
}
.panel{
	font-family: 'Noto Sans Korean', AppleSDGothicNeo-Regular, "Malgun Gothic", dotum, sans-serif;
}


.panel dd:before {
    content: 'A . ';
    position: absolute;
    left: 18px;
}

.panel dd {
    padding: 10px 0 20px 40px;
    font-size: 14px;
    line-height: 2;
    border-top: 1px dashed #ddd;
    position: relative;
}

.panel dl dt{
	font-size: 20px;
    margin-top: 20px;
}
/* -----------------FAQ -----------------*/

/* -----------------notice -----------------*/
.noticeTable{
	width: 1300px;
    margin: 0px auto;
    text-align: center;
}
.noticeTable table{
	width: 1300px;
	margin:50px auto;
}
.noticeTable input[type=button]{
	
	margin:10px auto;
    display: inline-block;
    background-color: #000;
    border: none;
    color: #fff;
    margin: 5px;
    width: 110px;
    height: 40px;
    font-size: 15px;
    line-height: 0;
    transition: background-color 0.5s, font-size 0.7s, transform 5s;
}
.noticeTable input[type=button]:hover{
	background-color:#D8D8D8;
    color:#000;
}
 .noticeWriteBtn{
 	margin:10px auto;
    display: inline-block;
    background-color: #000;
    border: none;
    color: #fff;
    margin: 5px;
    width: 110px;
    height: 40px;
    font-size: 15px;
    line-height: 0;
    transition: background-color 0.5s, font-size 0.7s, transform 5s;
 }
.noticeWriteBtn:hover{
	background-color:#D8D8D8;
    color:#000;
}
.noticeTable table td{
	height:60px;
}

.noticeWriteForm{
	font-size: 20px;
    border-collapse: collapse;
    width: 900px;
    height: 600px;
    margin: 30px auto;
    text-align: center;
}
#noticeTitle{
	font-size: 20px;
    border: 1px solid gray;
    border-bottom: hidden;
    padding: 0 10px 0 10px;
    width: 730px;
    height: 100%;
}
#noticeContent{
	width: 900px;
    height: 380px;
    padding: 0;
    font-size: 17px;
}
.noticeWriteFormTdRight{
	width: 150px;
    background-color: black;
    color: #fff;
}
.noticeWriteFormTdImg{
	width: 150px;
    background-color: black;
    color: #fff;
	border:1px solid black;
}


/* -----------------notice -----------------*/

/*---------------------------구매후기 리스트------------------*/

#productReviewTable{
	width:1300px;
	margin:30px auto;
	border-collapse: collapse;
}
#reviewLastestSort {
    display: inline-block;
    background-color: #000;
    border: none;
    color: #fff;
    margin: 5px;
    width: 110px;
    height: 40px;
    font-size: 15px;
    line-height: 0;
    transition: background-color 0.5s, font-size 0.7s, transform 5s;
}
#reviewLastestSort:hover{
				background-color:#D8D8D8;
			    color:#000; 
			    }
			    
#reviewScoreSort {
    display: inline-block;
    background-color: #000;
    border: none;
    color: #fff;
    margin: 5px;
    width: 110px;
    height: 40px;
    font-size: 15px;
    line-height: 0;
    transition: background-color 0.5s, font-size 0.7s, transform 5s;
}
#reviewScoreSort:hover{
	background-color:#D8D8D8;
    color:#000; 
			    }
			    
.reviewReview{
	padding:20px;
}
#reviewContent{
	white-space:pre-line;
}

/*------------------------커뮤니티 게시판----------------------*/
.reContentImg{
    padding: 0px 0 189px 0;
	width:30px;
	height:30px;
	
}
#comunicationList{
	border-collapse: collapse;
	width:1300px;
	border-top: 1px solid gray;
	padding:10px;
}
.comunicationTd{
	border-bottom: 1px solid gray;
	padding:10px;
}
.noticeSearch{
	width: 1300px;
    position: relative;
    left: 950px;
}
.noticeSearch select{
	float: left;
    height: 40px;
}
.noticeSearch input[type=text]{
	padding: 0 0 0 10px;
    height: 36px;
    float: left;
}
.noticeSearch input[type=button]{
	display: inline-block;
    background-color: #000;
    border: none;
    color: #fff;
    margin: 0;
    width: 48px;
    height: 40px;
    font-size: 15px;
    line-height: 0;
    transition: background-color 0.5s, font-size 0.7s, transform 5s;
}
.noticeSearch input[type=button]:hover{
background-color:#D8D8D8;
   color:#000; 
		    }

.comunicationTh{
	text-align:center;
	padding:10px;
	border-bottom: 1px solid gray;
}
.ComunicationBtn{
	display: inline-block;
    background-color: #000;
    border: none;
    color: #fff;
    margin: 5px;
    width: 110px;
    height: 40px;
    font-size: 15px;
    line-height: 0;
    transition: background-color 0.5s, font-size 0.7s, transform 5s;
}
.ComunicationBtn:hover{
background-color:#D8D8D8;
   color:#000; 
		    }
.comunicationFormBtn{
	display: inline-block;
    background-color: #000;
    border: none;
    color: #fff;
    margin: 5px;
    width: 110px;
    height: 40px;
    font-size: 15px;
    line-height: 0;
    transition: background-color 0.5s, font-size 0.7s, transform 5s;
}
.comunicationFormBtn:hover{
background-color:#D8D8D8;
   color:#000; 
		    }
/*---------------------커뮤니티 게시판 폼--------------------*/
.comunicationForm{
	width:1300px;
	margin:30px auto;
	border:1px solid gray;
	border-collapse: collapse;
}
.comunicationFormTr{
	border:1px solid gray;
}
.comunicationFormTd{
	border: 1px solid gray;
	white-space:pre-line;
}
.textarea{
	height:150px;
}
.text1{
	margin:10px;
	height:200px;
	width:900px;
}
.comunicationBtn{
	text-align:center;
}
.commentPre{
	white-space:pre-line;
}
#modifycencle{
    display: inline-block;
    background-color: #000;
    border: none;
    color: #fff;
    margin: 5px;
    width: 110px;
    height: 40px;
    font-size: 15px;
    line-height: 0;
    transition: background-color 0.5s, font-size 0.7s, transform 5s;
}
#modifycencle:hover{
	background-color:#D8D8D8;
    color:#000; 
			    }
			    
#comunicationContentTd{
	padding:10px;
}
#comunicationContent{
	font-size:20px;
	width: 98%;
}
#commit{
	display: inline-block;
    background-color: #000;
    border: none;
    color: #fff;
    margin: 5px;
    width: 110px;
    height: 40px;
    font-size: 15px;
    line-height: 0;
    transition: background-color 0.5s, font-size 0.7s, transform 5s;
}

#commit:hover{
	background-color:#D8D8D8;
    color:#000; 
			    }
#comunicationTitle{
    width: 763px;
    margin: 0;
    height: 21px;
}
.ComunicationWriteBtn{
		display: inline-block;
    background-color: #000;
    border: none;
    color: #fff;
    margin: 5px ;
    width: 110px;
    height: 40px;
    font-size: 15px;
    line-height: 0;
    transition: background-color 0.5s, font-size 0.7s, transform 5s;
}
.ComunicationWriteBtn:hover{
	background-color:#D8D8D8;
    color:#000; 
			    }
/*-------------------------공지사항 리스트-------------------------------*/

/*-------------------------장바구니 리스트-------------------------------*/
.basketListTable{
    margin: 30px auto;
    width: 1300px;
    text-align: center;
    border-collapse: collapse;
	}
.basketBtn{
    display: inline-block;
    background-color: #000;
    border: none;
    color: #fff;
    margin: 5px;
    width: 110px;
    height: 40px;
    font-size: 15px;
    line-height: 0;
    transition: background-color 0.5s, font-size 0.7s, transform 5s;
}
.basketBtn:hover{
	background-color:#D8D8D8;
    color:#000; 
			    }
/*-------------------------장바구니 리스트-------------------------------*/
/*-------------------------공지사항 폼-------------------------------*/
#noticeForm{
	width:1300px;
	margin:30px auto;
	
}
#noticeFormTable{
	width:1300px;
	border-collapse: collapse;
	border:1px solid gray;
}
.noticeFormTr{
	text-align:center;
	border:1px solid gray;
}
.noticeFormTd{
	text-align:center;
	border:1px solid gray;
	padding:10px;
}
.noticeFormButton{
    margin:10px auto;
    display: inline-block;
    background-color: #000;
    border: none;
    color: #fff;
    margin: 5px;
    width: 110px;
    height: 40px;
    font-size: 15px;
    line-height: 0;
    transition: background-color 0.5s, font-size 0.7s, transform 5s;
}
 
.noticeFormButton:hover{
    background-color:#D8D8D8;
    color:#000;
}