@charset "UTF-8";

#top{ background-color : #4dead2; 
	  width:1300px; 
	  margin: 0 auto ;
	  height:170px; }	
.topContent {float:left; width:433px}

#topMenu {list-style-type:none;margin:0;padding:0}
#topMenu li {display:inline}

.searchMenu{}

.search input[type=text] {
  position:relative; top:60px; left:50px;
  padding: 10px;
  font-size: 17px;
  border: 0px solid grey;
  float: left;
  width: 180px;
  background: #f1f1f1;
}

.search button {
  position:relative; top:60px; left:50px;
  width: 20%;
  padding: 10px;
  background: black;
  color: white;
  font-size: 17px;
  border: 0px solid grey;
  border-left: none;
  cursor: pointer;
}

.search button:hover {
  background: #585b51;
}

.search::after {
  content: "";
  clear: both;
  display: table;
}

#subTop{ width:1300px; margin:0 auto; height:auto; background-color:yellow}
.subTopMenu{ margin: 0 30px 0 0;}

.subTopMenu li {font-size:16px}
  
#mid {background-color : #ffff00;}
.title{
	color:#fff;background-color:#000000;
	padding: 7px;
}
/*회원가입*/
.member{
	width:1300px; 
	margin:auto;
}
.memberForm{
	margin: auto;
	width: 60%;
	border: 2px solid #ccc;
	padding: 10px;
}
.memList{
	width: 100%;
	margin-top :20px;
	border: 1px solid #ccc;
	padding:8px 8px 8px 8px;
}
.singleText{
	height: 40px;
	padding:8px 8px 8px 8px;
	border:none;
	width:100%;
}
.memList .idText{
	height: 40px;
	padding:8px 8px 8px 8px;
	border:none;
	width:80%;
}
.memList  .postText{
	height: 40px;
	padding:8px 8px 8px 8px;
	border:none;
	border-bottom:1px solid #ccc;
	width:40%;
}
.inputText{
	height: 40px;
	padding:8px 8px 8px 8px;
	border:none;
	border-bottom:1px solid #ccc;
	width:100%;
}
.passInputText{
	height: 40px;
	padding:8px 8px 8px 8px;
	border-bottom:1px solid #ccc;
	border:none;
	width:100%;
	margin-bottom:8px 0px 8px 0px;
}
.checkBtn{
	background-color: black;
	border: none;
	color: white;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1vw;
	border-radius:8px;
	margin:0;
}
.checkText{
	font-size:12px;
	font-color:red;
}

.join{
	
	margin: auto;
	width: 100%;
	padding: 10px;
}
.join .btn {
  	background-color: black; 
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 1vw;
	border-radius:8px;
	width: 100%;
    margin-top:1%;
    margin-left: 4px;
    margin-right: 4px;
}
.addressForm{
	padding-top:8px;
}
/*아이디 중복 체크 팝업*/
.form{
	transform: translate(5%);
	width: 90%;
	margin-top :20px;
	border: 1px solid #ccc;
	padding:8px 8px 8px 8px;
}
.subForm{
	transform: translate(10%);
	width: 80%;
	margin-top :20px;
	border: 1px solid #ccc;
	padding:8px 8px 8px 8px;
}
.idInputText{
	height: 40px;
	padding:8px 8px 8px 8px;
	border:none;
	width:70%;
	font-size:15pt;
}
.idCheckBtn{
	background-color: black;
	border: none;
	color: white;
	padding: 8px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1vw;
	border-radius:8px;
	margin:0;
}
/*회원가입 완료*/
.joinForm{
	margin: auto;
	width: 60%;
	border: 2px solid #ccc;
	padding: 10px;
}
.joinForm .joinTextContain{
	transform: translate(20%);
	margin-top:10%;
	margin-bottom:5%;
}
.joinTextContain .joinText{
	margin:auto;
	width:100%;
	font-size:2vw;
}
.joinTextContain .joinText2{
	margin:auto;
	width:100%;
	font-size:2vw;
}
.joinForm .joinBtnContain{
	transform: translate(10%);
	margin-bottom:5%;
}
.joinBtnContain .joinBtn{
	background-color: black; 
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 1vw;
	border-radius:8px;
	width: 80%;
    margin-top:1%;
    margin-left: 4px;
    margin-right: 4px;
	
}
/*아이디 찾기/패스워드 찾기*/
.findForm{
    margin: auto;
	width: 60%;
	border: 2px solid #ccc;
	padding: 10px;
}
.findForm .btnContain{
	transform: translate(20%);
}
.btnContain .btn{
	background-color: black; 
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 1vw;
	border-radius:8px;
	width: 30%;
    margin-left: 4px;
    margin-right: 4px;
}
.findForm .inputContain{
	transform: translate(20%);
}
.inputContain .findInputText{
	width:60%;
    height: 40px;
	padding:8px 8px 8px 8px;
	border:1px solid #ccc;
	font-size:15pt;
    margin-top:3%;
}
.findForm .finContain{
	transform: translate(20%);
    
}
.findContain .findBtn{
	background-color: black; 
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 1vw;
	border-radius:8px;
	width: 30%;
    margin-top:3%;
    margin-left: 4px;
    margin-right: 4px;
}
/*아이디 찾고 난 후*/
.resultForm{
    margin: auto;
	width: 60%;
	border: 2px solid #ccc;
	padding: 10px;
}
.resultForm .btnContain{
	transform: translate(20%);
}
.resultForm .resultContain{
	text-align: center;
	margin-top:12%;
	margin-bottom:10%;
}
.resultContain .resultText{
	width:100%;
	font-size:3vw;
	
}
.resultForm .resultBtn{
	transform: translate(20%);
	margin-bottom:2%;
    
}
.resultBtn .nextBtn{
	background-color: black; 
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 1vw;
	border-radius:8px;
	width: 60%;
    margin-top:1%;
    margin-left: 4px;
    margin-right: 4px;
}
/*패스워드 찾기 버튼 누른 후*/
.newPassForm{
    margin: auto;
	width: 60%;
	border: 2px solid #ccc;
	padding: 10px;
}
.newPassForm .btnContain{
	transform: translate(20%);
}
.newPassForm .inputContain{
	transform: translate(20%);
}
.inputContain .newPassInputText{
	width:60%;
    height: 40px;
	padding:8px 8px 8px 8px;
	border:1px solid #ccc;
	font-size:15pt;
    margin-top:5%;
}
.newPassForm .newPassContain{
	transform: translate(0%);
    
}
.newPassContain .newPassBtn{
	background-color: black; 
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 1vw;
	border-radius:8px;
	width: 61%;
    margin-top:5%;
    margin-left: 4px;
    margin-right: 4px;
}



/*                      마이페이지                                           */
.frame {
  width: 1300px;
  margin: auto;
  border: 1px solid #aaa;
}

.container {
  overflow: hidden;
  margin-top:5%;
}
.nav {
  float: left;
  width: 130px;
  background: #333;
  color: #fff;
  margin-right: 50px;
}
.nav-list {
  list-style: none;
  margin: 0;
  padding: 10px 0;
}
.nav-item {
  margin: 4px 0;
}
.nav-link {
  display: block;
  text-decoration: none;
  padding: 4px 10px;
  color: #fff;
}
.nav-link:hover {
  background: #5457de;
}
.nav, .content {
  display: table-cell;
}
.content {
  width: 1170px;
  margin-top:5%;
}
.content .memInfo{
	border: 1px solid #ccc;
	width:80%;
	
}
.memInfo th{
	border: 1px solid #ccc;
	width:20%;
	height:10%;
	padding: 4px;
}
.memInfo td{
	border: 1px solid #ccc;
	width:60%;
	height:10%;
	padding: 4px;
}
.memInfo .memInfoChange{
	float:right;
}