@charset "UTF-8";

#top{ background-color : #4dead2; 
	  width:1300px; 
	  margin: 0 auto ;
	  height:170px; }	
.topContent {float:left; width:433px}

#topMenu {list-style-type:none;margin:0;padding:0}
#topMenu li {display:inline}

.searchMenu{}

.search input[type=text] {
  position:relative; top:60px; left:50px;
  padding: 10px;
  font-size: 17px;
  border: 0px solid grey;
  float: left;
  width: 180px;
  background: #f1f1f1;
}

.search button {
  position:relative; top:60px; left:50px;
  width: 20%;
  padding: 10px;
  background: black;
  color: white;
  font-size: 17px;
  border: 0px solid grey;
  border-left: none;
  cursor: pointer;
}

.search button:hover {
  background: #585b51;
}

.search::after {
  content: "";
  clear: both;
  display: table;
}

#subTop{ width:1300px; margin:0 auto; height:auto; background-color:yellow}
.subTopMenu{ margin: 0 30px 0 0;}

.subTopMenu li {font-size:16px}
  
#mid {background-color : #ffff00;}
.title{
	color:#fff;background-color:#000000;
	padding: 7px;
}
/*회원가입*/
.member{
	width:1300px; 
	margin:0 auto;
}
.memberForm{
	transform: translate(25%);
}
.memList{
	width: 50%;
	margin-top :20px;
	border: 1px solid #ccc;
	padding:8px 8px 8px 8px;
}
.singleText{
	height: 40px;
	padding:8px 8px 8px 8px;
	border:none;
	width:100%;
}
.idText{
	height: 40px;
	padding:8px 8px 8px 8px;
	border:none;
	width:80%;
}
.postText{
	height: 40px;
	padding:8px 8px 8px 8px;
	border:none;
	border-bottom:1px solid #ccc;
	width:40%;
}
.inputText{
	height: 40px;
	padding:8px 8px 8px 8px;
	border:none;
	border-bottom:1px solid #ccc;
	width:100%;
}
.checkBtn{
	background-color: black;
	border: none;
	color: white;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius:8px;
	margin:0;
}

.btn {
  background-color: black; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:8px;
  width: 300px;
  margin: 9px 2px 2px 9px;
}
/*아이디 중복 체크 팝업*/
.form{
	transform: translate(5%);
	width: 90%;
	margin-top :20px;
	border: 1px solid #ccc;
	padding:8px 8px 8px 8px;
}
.subForm{
	transform: translate(10%);
	width: 80%;
	margin-top :20px;
	border: 1px solid #ccc;
	padding:8px 8px 8px 8px;
}
.inputText{
	height: 40px;
	padding:8px 8px 8px 8px;
	border:none;
	width:70%;
	font-size:12pt;
}
