@charset "UTF-8";

#top{ background-color : #4dead2; 
	  width:1300px; 
	  margin: 0 auto ;
	  height:170px; }	
.topContent {float:left; width:433px}

#topMenu {list-style-type:none;margin:0;padding:0}
#topMenu li {display:inline}

.searchMenu{}

.search input[type=text] {
  position:relative; top:60px; left:50px;
  padding: 10px;
  font-size: 17px;
  border: 0px solid grey;
  float: left;
  width: 180px;
  background: #f1f1f1;
}

.search button {
  position:relative; top:60px; left:50px;
  width: 20%;
  padding: 10px;
  background: black;
  color: white;
  font-size: 17px;
  border: 0px solid grey;
  border-left: none;
  cursor: pointer;
}

.search button:hover {
  background: #585b51;
}

.search::after {
  content: "";
  clear: both;
  display: table;
}

#subTop{ width:1300px; margin:0 auto; height:auto; background-color:yellow}
.subTopMenu{ margin: 0 30px 0 0;}

.subTopMenu li {font-size:16px}
  
#mid {background-color : #ffff00;}

.member{
	width:1300px; 
	margin:0 auto;
}
.memberForm{
	transform: translate(30%);
}
.memList{
	height: 1%; overflow: hidden;
	margin-top :20px;
	border: 1px solid #ccc;
	padding:8px 8px 8px 8px;
	
}
.postText{
	height: 40px;
	padding:8px 8px 8px 8px;
	border:none;
	border-bottom:1px solid #ccc;
	width:20%;
}
.inputText{
	height: 40px;
	padding:8px 8px 8px 8px;
	border:none;
	border-bottom:1px solid #ccc;
	width:40%;
}